.frameChild,
.rectangleParent {
  background-color: var(--color-teal);
  flex-shrink: 0;
}
.rectangleParent {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px var(--padding-0) var(--padding-18) var(--padding-11);
  box-sizing: border-box;
  gap: 97px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-lightgray);
  font-family: var(--font-graphik-xcond-trial);
}
.frameChild {
  align-self: stretch;
  height: 677px;
  position: relative;
  display: none;
}
.footerContent {
  width: 1423px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.footerColumn {
  width: 1225px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 49px;
  max-width: 100%;
}
.column,
.regionParent {
  align-self: stretch;
  display: flex;
}
.column {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  gap: 34px;
}
.regionParent {
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
}
.region {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
}
.logo5Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}
.socialLinks {
  width: 104px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-2);
}
.social {
  height: var(--height-40);
  flex: 1;
  position: relative;
}
.icons {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-white);
  width: 35px;
  height: var(--height-32);
  z-index: 1;
}
.linkedinIcon {
  position: absolute;
  top: 0;
  left: 7px;
  width: 23px;
  height: var(--height-40);
  object-fit: cover;
  z-index: 2;
}
.social2,
.socialChild {
  height: var(--height-40);
  width: var(--width-32);
  position: relative;
}
.socialChild {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-white);
  height: var(--height-32);
  z-index: 1;
}
.facebookIcon {
  position: absolute;
  top: 0;
  left: 5px;
  width: var(--width-22);
  height: var(--height-40);
  object-fit: cover;
  z-index: 2;
}
.social3 {
  height: var(--height-40);
  width: 33px;
  position: relative;
}
.socialItem {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-white);
  width: 33px;
  height: var(--height-32);
  z-index: 1;
}
.divider {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}
.details,
.info,
.message {
  display: flex;
  max-width: 100%;
}
.details {
  width: 1223px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
}
.info,
.message {
  flex-direction: column;
  align-items: flex-start;
}
.info {
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  min-width: 486px;
}
.message {
  align-self: stretch;
  gap: 43.4px;
}
.aspireRwandaIsARegistered {
  width: var(--width-439);
  height: var(--height-72);
  position: relative;
  font-weight: 500;
  font-family: var(--font-neue-montreal);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.form,
.subscribe {
  align-self: stretch;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.8px;
  max-width: 100%;
  font-size: var(--fs-26);
  color: var(--color-white);
}
.subscribe {
  height: var(--height-33);
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.emailForm,
.entry {
  display: flex;
  align-items: flex-start;
}
.emailForm {
  width: var(--width-439);
  height: 50.4px;
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-17);
  gap: 29px;
  max-width: 100%;
  z-index: 3;
  font-size: var(--fs-18);
  color: var(--color-lightgray);
}
.entry {
  flex-direction: column;
  padding: 15.2px var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.pleaseEnterYour {
  width: 200px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.action {
  height: 50.4px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  font-size: var(--fs-25);
  color: var(--color-white);
}
.subscribe2 {
  position: absolute;
  top: 11.2px;
  left: 41px;
  line-height: var(--lh-24);
  font-weight: 500;
  z-index: 2;
}
.send,
.subtractIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subtractIcon {
  left: 0.2px;
  z-index: 1;
}
.background,
.sendChild {
  position: absolute;
  top: 26.2px;
  left: 141px;
  width: var(--width-20);
  height: var(--height-14_7);
  z-index: 2;
}
.background {
  top: 0.2px;
  left: 0;
  background-color: var(--color-limegreen);
  width: var(--width-32);
  height: var(--height-19);
}
.emailFormChild {
  align-self: stretch;
  width: var(--width-439);
  position: relative;
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  flex-shrink: 0;
}
.return,
.topButton {
  display: flex;
  align-items: flex-start;
}
.return {
  width: 250px;
  gap: var(--gap-18);
  font-size: var(--fs-30);
}
.topButton {
  width: 54px;
}
.bubble {
  height: 56px;
  flex: 1;
  position: relative;
}
.circle {
  top: 0;
  left: 0;
  box-shadow: var(--shadow-drop);
  border-radius: 50%;
  background: #34c759, #34c759;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.circle,
.dot,
.upButton {
  position: absolute;
}
.upButton {
  top: 3px;
  left: 3px;
  width: var(--width-48);
  height: 50px;
}
.dot {
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #026e78, #34c759;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.chevronUpIcon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: var(--width-26);
  height: 27px;
  object-fit: cover;
  z-index: 3;
}
.scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-14) var(--padding-0) var(--padding-0);
}
.backToTop {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.utilities {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-26);
  max-width: 100%;
  font-size: var(--fs-26);
  color: var(--color-white);
}
.footerData,
.pageFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pageFooter {
  height: 318px;
  gap: 66px;
  min-width: 246px;
}
.footerData {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-17);
}
.navigation {
  width: 95px;
  position: relative;
  line-height: 34px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.homeAboutWorkBlog {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--fs-24);
  text-decoration: underline;
  color: var(--color-lightgray);
  z-index: 1;
}
.footerData2 {
  align-self: stretch;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-17);
}
.helpTransformLives {
  width: 181px;
  position: relative;
  line-height: 33px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.donate {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  color: var(--color-lightgray);
  z-index: 1;
}
.copyrightArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  min-width: 250px;
  max-width: 100%;
}
.legal,
.markIcon {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.markIcon {
  height: 330px;
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.legal {
  height: var(--height-36);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 601px;
  box-sizing: border-box;
  gap: var(--gap-17);
  font-size: 17px;
  color: var(--color-white);
  font-family: var(--font-neue-montreal);
}
.aspireRwandaAllContainer,
.separator {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.separator {
  margin-left: -612px;
  width: 1451.3px;
  height: 0.3px;
  border-top: 0.3px solid var(--color-white);
  box-sizing: border-box;
  max-width: 173%;
}
.aspireRwandaAllContainer {
  width: 225px;
  display: inline-block;
  white-space: nowrap;
}
.aspireRwandaAll {
  font-family: var(--font-graphik-xcond-trial);
}
@media screen and (max-width: 1225px) {
  .details {
    flex-wrap: wrap;
  }
  .info,
  .utilities {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: var(--gap-48);
    padding-top: 33px;
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .footerColumn {
    gap: var(--gap-24);
  }
  .column {
    gap: var(--gap-17);
  }
  .info {
    min-width: 100%;
  }
  .message {
    gap: var(--gap-22);
  }
  .backToTop {
    font-size: var(--fs-24);
  }
  .utilities {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .pageFooter {
    flex: 1;
  }
  .legal {
    padding-left: 300px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    gap: var(--gap-24);
  }
  .regionParent {
    flex-wrap: wrap;
  }
  .aspireRwandaIsARegistered {
    font-size: var(--fs-16);
  }
  .subscribe {
    font-size: var(--fs-21);
  }
  .emailForm {
    flex-wrap: wrap;
    padding-right: var(--padding-17);
    padding-bottom: var(--padding-17);
    box-sizing: border-box;
  }
  .subscribe2 {
    font-size: var(--fs-20);
    line-height: var(--lh-19);
  }
  .backToTop {
    font-size: var(--fs-18);
  }
  .navigation {
    font-size: var(--fs-21);
  }
  .homeAboutWorkBlog {
    font-size: var(--fs-19);
  }
  .donate,
  .helpTransformLives {
    font-size: var(--fs-21);
  }
  .legal {
    padding-left: var(--padding-20);
    box-sizing: border-box;
  }
}
