.frameChild,
.rectangleParent {
  background-color: var(--color-teal);
  max-width: 100%;
  flex-shrink: 0;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 66px 5.28vw 79px 9.44vw;
  box-sizing: border-box;
  gap: var(--gap-32);
  text-align: left;
  font-size: var(--fs-25);
  color: var(--color-white);
  font-family: var(--font-graphik-xcond-trial);
}
.frameChild {
  width: var(--width-1440);
  height: var(--height-677);
  position: relative;
  display: none;
}
.impactHeaderWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-1);
  flex-shrink: 0;
}
.impactHeader {
  height: 48px;
  border-radius: var(--br-7);
  border: var(--border-2);
  box-sizing: border-box;
  display: grid;
  place-items: center;
  padding: 0 12px;
  white-space: nowrap;
  z-index: 1;
}
.impactHeaderChild,
.ourImpact {
  position: relative;
  flex-shrink: 0;
}
.impactHeaderChild {
  height: 48px;
  width: 127px;
  border-radius: var(--br-7);
  border: var(--border-2);
  box-sizing: border-box;
  display: none;
}
.ourImpact {
  margin: 0;
  width: auto;
  font-size: 26px;
  line-height: 1;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-align: center;
  z-index: 2;
}
.impactSummary {
  width: 675px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--fs-60);
}
.buildingBrighterFutures {
  margin: 0;
  height: 151px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frameItem {
  height: 277px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.rectangleGroup {
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  max-width: min(1218px, 84.58vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  z-index: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-98);
  color: var(--color-limegreen);
  font-family: var(--font-graphik-xcond-trial);
}
.frameItem {
  align-self: stretch;
  position: relative;
  display: none;
}
.pupilStatistics {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: stretch;
  max-width: 100%;
}
.frameInner,
.rectangleContainer {
  border: var(--border-3);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 2;
}
.frameInner {
  width: 403px;
  height: var(--height-138);
  position: relative;
  display: none;
  z-index: 1;
  flex-shrink: 0;
}
.statisticsValues {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.h1,
.nurseryPupilsEnrolled {
  position: relative;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.h1 {
  margin: 0;
  width: auto;
  font-size: inherit;
  line-height: 81px;
  font-weight: 600;
  z-index: 3;
}
.nurseryPupilsEnrolled {
  width: auto;
  height: var(--height-28);
  font-size: var(--fs-22);
  font-weight: 700;
  color: var(--color-white);
  z-index: 4;
  margin: 0;
  text-align: center;
}
.frameDiv,
.rectangleDiv {
  border: var(--border-3);
  box-sizing: border-box;
  max-width: 100%;
}
.frameDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 3;
}
.rectangleDiv {
  width: 404px;
  height: var(--height-138);
  position: relative;
  display: none;
  z-index: 1;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.h2,
.subjectsOfferered {
  position: relative;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.h2 {
  margin: 0;
  width: auto;
  font-size: inherit;
  line-height: 86px;
  font-weight: 600;
  z-index: 4;
}
.subjectsOfferered {
  width: auto;
  height: var(--height-28);
  font-size: var(--fs-22);
  font-weight: 700;
  color: var(--color-white);
  z-index: 5;
  margin: 0;
  text-align: center;
}
.ageRangeStatistics {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: stretch;
  max-width: 100%;
}
.ageRangeValues,
.ageRangeValuesChild {
  border: var(--border-3);
  box-sizing: border-box;
  max-width: 100%;
}
.ageRangeValues {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 4;
}
.ageRangeValuesChild {
  width: 403px;
  height: var(--height-139);
  position: relative;
  display: none;
  z-index: 1;
  flex-shrink: 0;
}
.ageStats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dividerStats,
.yearsAgeRange {
  position: relative;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.dividerStats {
  margin: 0;
  width: auto;
  font-size: inherit;
  line-height: 90px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 5;
}
.yearsAgeRange {
  width: auto;
  font-size: var(--fs-22);
  font-weight: 700;
  color: var(--color-white);
  z-index: 6;
  margin: 0;
  text-align: center;
  white-space: normal;
}
.ageRangeValues2 {
  align-self: stretch;
  flex: 1;
  border: var(--border-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  max-width: 100%;
  z-index: 5;
}
.ageRangeValuesItem,
.container {
  box-sizing: border-box;
  flex-shrink: 0;
}
.ageRangeValuesItem {
  width: 404px;
  height: var(--height-139);
  position: relative;
  border: var(--border-3);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dailyMealsProvided,
.h22 {
  position: relative;
  font-family: inherit;
  display: inline-block;
}
.h22 {
  margin: 0;
  font-size: inherit;
  line-height: 93px;
  font-weight: 600;
  min-width: 42px;
  z-index: 6;
}
.dailyMealsProvided {
  width: auto;
  font-size: var(--fs-22);
  font-weight: 700;
  color: var(--color-white);
  z-index: 7;
  margin: 0;
  text-align: center;
  white-space: normal;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .ageRangeStatistics,
  .pupilStatistics {
    flex-wrap: wrap;
  }
  .rectangleGroup {
    height: auto;
  }
  .buildingBrighterFutures {
    height: auto;
  }
  .impactSummary {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .ourImpact {
    font-size: 24px;
  }
  .rectangleParent {
    gap: var(--gap-16);
    padding: var(--padding-43) 16px var(--padding-51);
    box-sizing: border-box;
  }
  .buildingBrighterFutures {
    font-size: var(--fs-48);
  }
  .pupilStatistics,
  .ageRangeStatistics {
    display: contents;
  }
  .rectangleGroup {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border: none;
  }
  .rectangleContainer,
  .frameDiv,
  .ageRangeValues,
  .ageRangeValues2 {
    flex: 0 0 100%;
    position: relative;
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
  }
  .statisticsValues,
  .wrapper,
  .ageStats,
  .container {
    position: absolute;
    inset: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 0;
  }
  .h1,
  .h2,
  .h22 {
    font-size: 110px;
    line-height: 1;
    width: auto;
  }
  .dividerStats {
    font-size: 90px;
    line-height: 1;
    width: auto;
    z-index: 0;
  }
  .nurseryPupilsEnrolled,
  .subjectsOfferered,
  .yearsAgeRange,
  .dailyMealsProvided {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    white-space: normal;
    width: auto;
  }
}
@media screen and (max-width: 450px) {
  .ourImpact {
    font-size: 22px;
  }
  .rectangleParent {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .buildingBrighterFutures {
    font-size: var(--fs-36);
  }
  .rectangleContainer,
  .frameDiv,
  .ageRangeValues,
  .ageRangeValues2 {
    flex: 0 0 100%;
    height: 130px;
  }
  .h1,
  .h2,
  .h22 {
    font-size: 75px;
    line-height: 1;
  }
  .dividerStats {
    font-size: 65px;
    line-height: 1;
  }
}
